<%- include("partials/header") %>

<div>
    <div class="container" style="margin: 50px;">
        <% userinfo.forEach(function(user){ %>
            <div class="row">
                <div class="col-sm">
                    <%= user.name %>
                </div>
                <div class="col-sm">
                    <%= user.email %>
                </div>
                <div class="col-sm">
                    <a href="updateuser/<%= user._id %>">edit</a>
                    <a href="deleteuser/<%= user._id %>">delete</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>